
.main-menu {

    height: 120px;
    background: #fff;


    .logo-container {
    }
    
    .nav-container {
        padding: 44px 0;
        height: 120px;

        .navbar-nav {
            height: 32px;
        }

        li {
            
            display: flex;

            a {
                padding: 0 15px;
                height: 32px;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                color: #2c3032;
                line-height: 32px;
            }

            a.active, 
            a:hover {
                background-color: #7eb425;
                border-radius: 6px;
                box-shadow: 0 2px 5px #dfdfdf;
                color: #fff;
            }
        }
    }

}