.mini-card {
  border-radius: 10px;
  width: 150px;
  height: 150px;
  box-shadow: 3px 4px 5px 4px #ddd;
  margin: 0.5em;
}

.mini-card .ico-container img {
  vertical-align: middle;
}

.category-mini-card-container {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 0.1em; 
  cursor: pointer;
}

.category-mini-card-container .ico-container,
.category-mini-card-container .ico-text {
  pointer-events: none;
  /* This makes the inner elements non-clickable */
}
