.float_center {
    float: right;  
    position: relative;
    left: -50%; /* or right 50% */
    text-align: left;
}
.float_center > .child {
    position: relative;
    left: 50%;
}

.subcategories-container {
    width: 80vw;
    margin: 20px auto 0 auto;
    position: absolute;
    z-index: 5;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        float: left;
        list-style-type: none;
        margin: .5em;
      }
}