.subcategory-item {
    position: relative;
    width: 124px;
    height: 75px;
    float: left;
    overflow: hidden;
    margin-right: 14px;
    margin-bottom: 10px;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.subcategory-item .category-name-container{
   position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.7);
    white-space: nowrap; /* Prevent text from wrapping */
}

.subcategory-item .sprite-category{
    width: inherit;
    height: inherit;
    position: relative; 
    z-index: 0; 
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
}

/* LEGACY */

.float_center {
    float: right;  
    position: relative;
    left: -50%; /* or right 50% */
    text-align: left;
}
.float_center > .child {
    position: relative;
    left: 50%;
}

.subcategories-container {
    width: 80vw;
    margin: 20px auto 0 auto;
    position: absolute;
    z-index: 5;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
 
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
      ul li {
        float: left;
        list-style-type: none;
        margin: .5em;
      }
}