.main-navbar{
    border-bottom: 1px solid #ccc;
}
.main-navbar .website-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
}
.main-navbar .menu-toggle{
    margin: .5rem !important;
    cursor: pointer;
}
.main-navbar .top-navbar{
    padding-top: 8px;
    padding-bottom: 5px;
}
.main-navbar .top-navbar .nav-link{
    color: azure;
    font-size: 18px;
    font-weight: 500;
}
.main-navbar .top-navbar .dropdown-menu{
    padding: 0px 0px;
    border-radius: 0px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item{
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
}
.main-navbar .top-navbar .dropdown-menu .dropdown-item i{
    width: 20px;
    text-align: center;
    color: #2874f0;
    font-size: 14px;
}
.main-navbar .navbar-nav{
    margin: auto;
    /* Todo: Center vertically */
}
