
.theme-color{
  background-color: #7eb425;
  color: #ffffff;  
}

.title-font {
  font-family: "Oleo Script", system-ui;
  font-weight: 400;
  font-style: normal;
}

.title-font-bold {
  font-family: "Oleo Script", system-ui;
  font-weight: 700;
  font-style: normal;
}

.grey-background {
    background-color: #e6e6e6;
}

.panel-body p {
  margin-left: 10px;
}


span.line-break {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 10px 0;
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.lowercase {
    text-transform: none !important;
}

@media only screen and (max-width: 550px){
  .mobile-hide {
      display: none !important;
  }
}

@media only screen and (min-width: 551px){
  .mobile-show {
      display: none !important;
  }
}
