
.theme-color{
  background-color: #7eb425;
  color: #ffffff;  
}

.panel-heading {
  h4, i {
  display: inline-block;
  padding: 5px;
  margin: 0px;
  }
  i {
    margin: 4px;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }
  &.collapsed i {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

.panel-body p {
  margin-left: 10px;
}


span.line-break {
  width: 100%;
  height: 1px;
  background-color: black;
  margin: 10px 0; /* Optional margin for spacing */
}