/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  
} */
html {
  font-family: sans-serif, "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* HEADER */

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

/* BUTTON */

.btn, a.btn {    
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(40,41,43,0.2);
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding: 6px 20px;
    line-height: 32px;
    height: 44px;
    border: 0;
}

.btn.small {
    font-size: 14px; /* Smaller font size */
    padding: 4px 16px; /* Reduced padding */
    line-height: 24px; /* Adjusted line height */
    height: 36px; /* Reduced height */
}

.btn-block {
    display: block;
    width: 100%;
}

.btn-theme{
  background-color: #7eb425;
}
.btn-primary {
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-danger{
  background-color: #d9534f;
  border-color: #d9534f; 
}

/* .btn {
    font-weight: 700;
} */

/* TRANSFORM */
.lowercase {
    text-transform: none !important;
}

/* FOOTER */

.site-footer
{
  padding:45px 0 20px;
  font-size:14px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#33353d;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}